<%= simple_form_for(@food_item, html: {class: 'form-horizontal' }) do |f| %>
  <div class="form-group">
    <%= f.input :name, input_html: { class: 'form-control' }, placeholder: 'Banh my tam giac'%>      
  </div>
  <div class="form-group">
    <%= f.input :description, input_html: { class: 'form-control' }, placeholder: 'Banh my tron rau, cu , qua,...' %> 
  </div>
  <div class="form-group">
    <%= f.input :price, input_html: { class: 'form-control' }, placeholder: '15000 VND' %>    
  </div>
  <div class="form-group">
    <%= f.input :image_url, input_html: { class: 'form-control' }, placeholder: 'image url or leave it blank' %>
  </div>
  <div class="form-group">
    <%= f.association :section, input_html: { class: 'form-control' }, collection: Section.all, prompt: 'Choose a section' %>  
  </div>

  <%= f.submit class: 'btn btn-primary hvr-icon-fade' %>
<% end %>